.content-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 10px;
  border: 1px solid orange;
}

.navbar-container {
  background-color: red;
  border: 1px solid black
}

.sidebar-container {
  display: grid;
  grid-template-rows: 1fr 2fr;
  gap: 5px;
  background-color: green;
  border: 1px solid black
}

.create-post {
  background-color: blue;
  border: 1px solid black
}

.featured-pets {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  background-color: lightblue;
  border: 1px solid black
}

.post-container {
  background-color: lightgreen;
  border: 1px solid black
}

.post-list {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  background-color: lightpink;
  border: 1px solid black
}

.post {
  background-color: coral;
}