/* import font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.content-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 10px;
  border: 1px solid orange;
}

.navbar-container {
  background-color: rgb(255, 203, 144);
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

#login-button {
  background-color: rgb(192, 113, 29);
  color: white;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  box-shadow:rgb(192, 113, 29) 1px 1px 1px;
}

#login-button:hover {
  background-color: rgb(255, 203, 144);
  color: black;
}

.sidebar-container {
  display: grid;
  grid-template-rows: 1fr 2fr;
  gap: 5px;
  background-color: green;
  border: 1px solid black
}

.create-post {
  background-color: rgb(255, 179, 245);
  border: 1px solid black
}

.featured-pets {
  display: grid;
  grid-template-rows: 0.2fr 1fr 1fr;
  gap: 5px;
  background-color: lightblue;
  border: 1px solid black
}

.featured-pet-title {
  grid-row: auto;
  text-align: center;
  height: 1rem;
}

.featured-pet-details {
  grid-row: auto;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.featured-pet-details img {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.featured-pet-details h2 {
  text-align: center;
}

.post-container {
  background-color: lightgreen;
  border: 1px solid black
}

.center-text {
  text-align: center;
}

.post-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  background-color: lightpink;
  border: 1px solid black;
  margin: 1rem;
}

.post {
  background-color: coral;
}