/* import font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

.content-container {
  background-color: rgb(242, 242, 242);
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.navbar-container {
  background-image: linear-gradient(to right, #FFA351FF, #EED971FF, #FFA351FF);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  /* position: absolute;
  z-index: 1;
  box-shadow: 0px 0px 10px rgb(0, 0, 0); */
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.13) );
}

#navbar-logo img {
  transition: ease-in-out 0.3s;
}

#navbar-logo img:hover {
  filter: invert();
  transition: ease-in-out 0.3s;
}

#login-button {
  background-color: #EED971FF;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  box-shadow: black 1px 1px 1px;
}

#login-button:hover {
  background-color: rgb(255, 203, 144);
  color: black;
}

.sidebar-container {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.create-post {
  background-color: white;
  padding: 0 1rem;
}

.create-post h3 {
  text-align: center;
}

.create-post-inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 90%;
}

.create-post-text-field {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.create-post-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  width: 100%;
}

.cat-divider {
  margin-top: 3em;
  display: flex;
  justify-content: center;
}

.featured-pets {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  /* grid-template-rows: 0.2fr 1fr 1fr; */
  background-color: white;
}

.featured-pet-title {
  text-align: center;
  height: 1rem;
}

.featured-pet-details {
  margin-top: 30px;
  width: 85%;
  background-color:rgba(238, 217, 113, 0.801);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 1px 10px 1px rgb(117, 117, 117);
  padding-left: 10px;
  padding-right: 10px;
}

.featured-pet-details img {
  width: 100%;
  height: 100%;
}

.featured-pet-details h2 {
  text-align: center;
}

.post-container {
  background-color: rgb(255, 255, 255);
}

.center-text {
  text-align: center;
}

.post-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  background: url('https://www.tilingtextures.com/wp-content/uploads/2018/12/0074-512x512.jpg');
  margin: 1rem;
  padding: 1rem;
  border: 10px outset rgb(239, 222, 202);
  border-radius: 5px;
  box-shadow: 0px 1px 10px 1px rgb(117, 117, 117);
}

.post { 
  background-color:#EED971FF;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(73, 73, 73, 0.5);
}

.header4 {
  text-align: center;
}

.petName {
 font-size: 20px; 
}

.lost-pet-pic {
  height: 120px;
  width: auto;
  border: 1px solid black;
}

.petPic{
  display: flex;
  align-items: center;
  justify-content: center;
}

.pushPin {
  height: 30px;
  width: auto;
}

.info {
  text-align: center;
  height: 15rem;
}

.submit-btn {
  margin-top: 10px;
}

.found-button {
  display:flex;
  position: relative;
  justify-content: center;
}

.found-btn {
  position: absolute;
  bottom: 0;
}

#modal-modal-description{
  background-color: #FFBE7BFF;
}


.map-please {
  height: 800px;
  width: 100%;
  /* background-color: aquamarine; */
}

#navbar-login {
  display: flex;
  align-items: center;
}

.signInDisplay {
  display: flex;
  align-items: center;
}

.signInDisplay > img {
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 20%;
  width: 30px;
}

.sign-out-button {
  background-color: #EED971FF;
  color: black;
  padding: 8px 10px;
  border-radius: 5px;
}

.sign-out-button:hover {
  background-color: orange;
  color: #222
}
